---
- name: Start Deployemnt Drama.
  hosts: "{{ hosts }}"
  remote_user: "{{ lookup('env','SSH_USER') }}"
  tasks:
   - name: Start Cleanup old items for HOST => {{hosts}} project => {{projname}} RC => {{rcname}}
     file:
       state: absent
       path: "/tmp/{{projname}}"
     become: yes
   - name: Create temporary directory
     file:
       state: directory
       path: "/tmp/{{projname}}"
   - name: Transport and Extract package.
     unarchive:
       src: /tmp/{{projname}}-deploy/{{rcname}}.tar.bz2
       dest: /tmp/{{projname}}
     become: yes